body{
  font-family: 'Manrope', sans-serif;
  width: 100%;
}
.container {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 15px;
}
.hero{
  background: #FFF;
  margin: 0;
  padding: 0;
}
.services__black{
  background: #121212;
  margin: 0;
  padding: 0;
}
.hero__img {
  position: relative;
  margin-top: 30px;
  width: 1150px;
height: 500px;
background-image: url('../resourses/inerior.png');

}
.hero__img-text{
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 430px;
 color: #FFF;
font-size: 20px;
font-weight: 400px;
line-height: 27px;
letter-spacing: -0.6px;
height: 81px;
}
.about__title {
  margin-top: 150px;
}
.about__text {
  width: 1048px;
  margin-top: 30px;
font-size: 45px;
font-weight: 400;
line-height: normal;
letter-spacing: -1.35px;
text-align: left;
}
.about__button{
  display: inline-block;
  margin-top: 30px;
  padding: 20px 40px;
  border-radius: 5px;
  background: #AD1818;
  color: #FFF;
}
h1{
  width: 956px;
font-size: 60px;
font-style: normal;
line-height: 60px;
letter-spacing: -1.8px;
}
h2{
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.54px;
  text-align: left;
}
a{
  text-decoration: none;
}
.projects__title{
  margin-top: 150px;
  margin-bottom: 30px;
}
.projects__item{
  width: 1150px;
  height: 2122px;
}
.projects__box{
  margin-bottom: 90px;
}
.projects__imag{
  margin-top: 30px;
  width: 1150px;
height: 450px;
}
.projects__paragraph {
margin-top: 15px;
margin-bottom: 15px;
font-size: 30px;
font-weight: 400;
line-height: normal;
letter-spacing: -0.9px;
}
.projects__link {
  margin-left: 2px;
font-size: 20px;
font-weight: 400;
line-height: normal;
letter-spacing: -0.6px;
color: #AD1818;
}

.projects__services{
  display: block;
  padding-top: 56px;
  padding-bottom: 56px;
  width: 1150px;
  font-size: 30px;
  height: 153px;
  line-height: normal;
  font-weight: 400;
  letter-spacing: -0.9px;
  border-radius: 5px;
  text-align: center;
  border: solid 1px #AD1818 ;
  color: #AD1818;
  }
.projects__services:hover {
    color: #FFF;
    background-color: #AD1818;
  }
  .service {
    margin-top: 159px;
    background-color: #121212;
  }
.service__container{
  height: 1846px;
  width: 100%;
    padding-bottom: 150px;
    margin: 0 auto;
}
.services__title{
  padding-top: 151px;
  margin-bottom: 34px;
   font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    color: #FFF;
}
.services__img{
  margin-bottom: 15.02px;
  width: 1163.964px;
height: 270.293px;
}
.services__paragraph{
  margin-bottom: 60.07px;
  width: 547.569px;
height: 41.044px;
font-size: 30px;
font-weight: 400;
line-height: normal;
letter-spacing: -0.9px;
color: #FFF;
}